.addTaskOpenedContainer {
  display: flex;
  flex-direction: column;
}

.addTaskOpened {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  gap: 20px;
}

.addTaskHeadline {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 3em;
  color: black;
}

.addTaskForm {
  display: flex;
  gap: 20px;
}

.addTaskLeftSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addTaskRightSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addTaskContent {
  margin-top: 6vw;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-bottom: 4vw;
  max-width: 1200px;
}

.full-size-footer {
  display: flex;
  justify-content: flex-end;
}

.cancel-button {
  margin-right: 16px;
}

.assigned-users-addCard {
  display: flex;
}

@media screen and (max-width: 1100px) {
  .addTaskOpenedContainer {
    width: 100%;
    height: 90vh;
  }

  .headerAndOpenedContainer {
    height: 90vh;
  }

  .addTaskContent {
    margin-top: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .row {
    flex-direction: column;
  }

  .add-line {
    display: none;
  }

  .pb-40 {
    padding-bottom: 40px;
  }

  .wd-100 {
    width: 100%;
  }

  .cancel-button {
    display: none;
  }

  .full-size-footer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 16px;
  }

  .due-date {
    margin-top: 32px;
  }
}
