.board-card-dropzone {
  height: 10px;
  transition: background 0.15s, height 0.15s;
}

.board-card-dropzone--active {
  height: 240px;
  background-image: url("/assets/icons/dropzone.svg");
  background-repeat: no-repeat;
  background-size:contain
}
