.board-card-dropzone {
  height: 16px;
  transition: height 0.25s;
}

.big-zone{
  height: 240px;
}

.board-card-dropzone--active {
  height: 240px;
  width: 250px;
  background-image: url("/assets/icons/dropzone.svg");
  background-repeat: no-repeat;
  /* background-position-y: 10px; */
  background-size:contain
}

.dragging {
  opacity: 0;
}

.roatateCard {
  transform: rotate(5deg);
}