.full-size-priority-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.priority-button-container {
  width: 150px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label.btn1 {
  width: 136px;
  height: 56px;
  display: inline-block;
  background-image: url("/assets/icons/board/priority/low_button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: none;
  cursor: pointer;
}

input[type="radio"] + label.btn2 {
  width: 136px;
  height: 56px;
  display: inline-block;
  background-image: url("/assets/icons/board/priority/medium_button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: none;
  cursor: pointer;
}

input[type="radio"] + label.btn3 {
  width: 136px;
  height: 56px;
  display: inline-block;
  background-image: url("/assets/icons/board/priority/urgent_button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: none;
  cursor: pointer;
}

input[type="radio"] + label.btn1:hover {
  background-image: url("/assets/icons/board/priority/low_button_hover.svg");
}

input[type="radio"] + label.btn2:hover {
  background-image: url("/assets/icons/board/priority/medium_button_hover.svg");
}

input[type="radio"] + label.btn3:hover {
  background-image: url("/assets/icons/board/priority/urgent_button_hover.svg");
}

input[type="radio"]:checked + label.btn1 {
  background-image: url("/assets/icons/board/priority/low_button_clicked.svg");
  width: 136px;
  height: 50px;
}

input[type="radio"]:checked + label.btn2 {
  background-image: url("/assets/icons/board/priority/medium_button_clicked.svg");
  width: 136px;
  height: 50px;
}

input[type="radio"]:checked + label.btn3 {
  background-image: url("/assets/icons/board/priority/urgent_button_clicked.svg");
  width: 136px;
  height: 50px;
}
