h1 {
  font-size: 50px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.full-size-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 32px;
  padding: 12px 21px 12px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 20px;
  min-height: 24px;
  background-color: #fff;
}

.subtasks-input {
  font-size: 20px;
  width: 100%;
}

.subtasks-btn:hover {
  border-radius: 50%;
  background: #eeeeee;
}

.subtasks-btn-none {
  display: none;
}

.subtasks-li-text {
  display: inline-block;
  width: 75%;
  min-height: 24px;
  margin-bottom: 0;
  word-wrap: break-word;
}

.subtasks-li-content {
  height: fit-content;
  padding-bottom: 8px;
}

p {
  margin-block-start: 0;
  margin-block-end: 1em;
}

.subtasks-li-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtasks-li-container:hover .subtasks-btn-none {
  display: block;
}

.subtasks-li-container:hover .subtasks-line-none {
  display: block;
}

.subtasks-btn-none:hover {
  border-radius: 50%;
  background: #eeeeee;
}

.subtasks-btn-container {
  display: flex;
  align-items: center;
}

.subtasks-line {
  width: 1px;
  height: 24px;
  background: #a8a8a8;
}

.subtasks-line-none {
  width: 1px;
  height: 24px;
  background: #a8a8a8;
  display: none;
}

.d-none {
  display: none;
}

.multipleSelection {
  width: 300px;
  background-color: #bcc2c1;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkBoxes {
  display: none;
  border: 1px #8df5e4 solid;
}

#checkBoxes label {
  display: block;
}

#checkBoxes label:hover {
  background-color: #4f615e;
  color: white;
}

.mb-0 {
  margin-bottom: 0;
}

.assigned-users-editCard {
  position: relative;
  display: flex;
  align-items: center;
}

.board-user-editCard {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 78, 78);
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  font-size: 12px;
  margin: 8px 4px 0px 4px;
}

.subtasks-row {
  display: flex;
}

@media screen and (max-width: 1100px) {
  .subtasks-btn-none {
    display: block;
  }
  .subtasks-li-text {
    width: 70%;
  }
}
