.addContactButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addContactButton {
    background-color: rgb(42, 54, 71);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 40px;
    width: 200px;
}