.helpOpenedContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 15vh;
    padding-top: 15svh;
    padding-bottom: 5vh;
    padding-bottom: 5svh;
    flex-direction: column;
    overflow-y: auto;
}

.helpContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.helpHeadlineAndArrowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10svh;
    height: 10vh;
}

.helpHeadline {
    font-size: 3em;
}

.arrowLeftImg {
    height: 32px;
    width: 32px;
}

.arrowLeftImg:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    scale: 1.08;
}

.tdH2 {
    display: flex;
}

.helpLink {
    color: #29abe2;
}