.legalNoticeOpenedContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 10vh;
    padding-top: 10svh;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 10vh;
    padding-bottom: 10svh;
}

.legalNoticeHeadlineAndArrowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10vh;
    height: 10svh;
}

.legalNoticeHeadline {
    font-size: 3em;
}

.arrowLeftImg {
    height: 32px;
    width: 32px;
}

.arrowLeftImg:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    scale: 1.08;
}

.legalNoticeTextContainer {
    width: 80%;
}

.developerLink {
    color: rgb(41, 171, 226);
}

.joinLink {
    color: rgb(41, 171, 226);
}

.joinLink:hover {
    cursor: default;
}

@media (max-width: 1100px) {
    .legalNoticeOpenedContainer {
        padding-top: 8vh;
        padding-top: 8svh;
        padding-bottom: 15vh;
        padding-bottom: 15svh;
    }

    .legalNoticeHeadlineAndArrowContainer {
        width: 90%;
    }

    .legalNoticeTextContainer {
        width: 90%;
    }
}

@media (max-width: 430px) {
    .legalNoticeHeadline {
        font-size: 2.5em;
    }

    body {
        font-size: smaller;
    }

    .arrowLeftImg {
        height: 24px;
        width: 24px;
    }
}

@media (max-width: 300px) {
    .legalNoticeHeadline {
        font-size: 1.8em;
    }

    .arrowLeftImg {
        height: 20px;
        width: 20px;
    }
}