@media (max-width: 1100px) {
    .sideBarContainer {
        display: none !important;
    }

    .privacyPolicyOpenedContainer {
        padding-bottom: 8vh !important;
        padding-bottom: 8svh !important;
    }
}