h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.headingSectionAndMainContainer {
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding-bottom: 5vh;
}

.headingSection {
  height: 22vh;
  width: 39vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 30px; */
  padding-left: 6vw;
}

.joinSuh1 {
  font-size: 50px;
  font-weight: 700;
}

.seperator {
  background-color: #29abe2;
  min-width: 3px;
  height: 59px;
  border-radius: 3px;
}

.h2KeyMet {
  font-size: 23px;
  color: #2a3647;
  line-height: 32.4px;
  font-weight: 400;
}

.mainContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-left: 6vw;
  height: 75vh;
}

.container1 {
  /* width: 560px;
  height: 168px; */
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.mainSection {
  height: 88vh;
  background-color: #f6f7f8;
  width: 82vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.toDo {
  border-radius: 30px;
  background-color: white;
  height: 19.5vh;
  width: 18vw;
  box-shadow: 0px 0px 4px #0000001a;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.toDo:hover {
  cursor: pointer;
  background-color: #2a3647;
  transform: scale(1.1);
}

.done {
  border-radius: 30px;
  background-color: white;
  height: 19.5vh;
  width: 18vw;
  box-shadow: 0px 0px 4px #0000001a;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.done:hover {
  cursor: pointer;
  background-color: #2a3647;
  transform: scale(1.1);
}

.number-ToDo {
  font-size: 2.8em;
  color: #2a3647;
  font-weight: bold;
  text-align: center;
}

.text-ToDo {
  font-size: 18px;
  color: #2a3647;
  align-items: center;
  display: flex;
}

.number-done {
  font-size: 2.8em;
  color: #2a3647;
  font-weight: bold;
  text-align: center;
}

.text-done {
  font-size: 18px;
  color: #2a3647;
  text-align: center;
  align-items: center;
  display: flex;
}

.container2 {
  height: 19.5vh;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 4px #0000001a;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container2:hover {
  cursor: pointer;
  background-color: #2a3647;
  transform: scale(1.1);
}

.img-and-urgent-count-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.number-and-text-urgent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-urgent {
  color: #2a3647;
  font-size: 2.8em;
  font-weight: bold;
}

.text-urgent {
  color: #2a3647;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.line-urgent {
  height: 60%;
  border: 2px;
  background-color: #d1d1d1;
  width: 2px;
}

.urgent-date {
  color: #2a3647;
  font-weight: 700;
  font-size: 21px;
  line-height: 25.2px;
}

.text-urgent2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  margin-top: 15px;
  color: #2a3647;
}

.Urgent-under {
  display: flex;
  flex-direction: column;
}

.task-container {
  height: 19.5vh;
  display: flex;
  justify-content: space-between;
}

.tasks {
  border-radius: 30px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px #0000001a;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 11vw;
}

.tasks:hover {
  cursor: pointer;
  background-color: #2a3647;
  transform: scale(1.1);
}

.number-task {
  color: #2a3647;
  font-size: 2.8em;
  font-weight: bold
}

.text-task {
  color: #2a3647;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 20px;
}

.toDo:hover .text-ToDo,
.toDo:hover .number-ToDo,
.done:hover .text-done,
.done:hover .number-done,
.container2:hover .text-urgent,
.container2:hover .number-urgent,
.tasks:hover .text-task,
.tasks:hover .number-task{
  color: white;
}

.container2:hover .urgent-date,
.container2:hover .text-urgent2 {
  color: white;
}

.toDo:hover .imgPen1 {
  content: url("../assets/img/Frame 59 (1).svg");
}

.done:hover .img-chop1 {
  content: url("../assets/img/Group 7 (1).svg");
}

.greetingContainer {
  line-height: 56.4px;
  color: #2a3647;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 37vw;
  height: 88vh;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5vw;
}

.greetingText {
  font-size: 40px;
  font-weight: 400;
}

.greetingName {
  color: rgb(41, 171, 226);
  font-weight: bold;
  font-size: 47px;
}