.headingSection {
  margin-top: 136px;
  margin-left: 128px;
  height: 73px;
  width: 625px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.joinSuh1 {
  font-size: 61px;
  font-weight: 700;
}

.seperator {
  background-color: #29abe2;
  min-width: 3px;
  height: 59px;
  border-radius: 3px;
}

.h2KeyMet {
  font-size: 27px;
  color: #2a3647;
  line-height: 32.4px;
}

.mainContainer {
    width: 560px;
    height: 562px;
    margin-left: 128px;
    gap: 28px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 60px;
}

.container1 {
    width: 560px;
    height: 168px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.mainSection {
    height: 100%;
    background-color: #F6F7F8;
}

.toDo {
    border-radius: 30px;
    background-color: white;
    width: 264px;
    height: 168px;
    box-shadow: 0px 0px 4px #0000001a;
}

.toDo:hover {
    cursor: pointer;
    background-color: #2A3647;
}

.done {
    border-radius: 30px;
    background-color: white;
    width: 264px;
    height: 168px;
    box-shadow: 0px 0px 4px #0000001a;
}

.done:hover {
    cursor: pointer;
    background-color: #2A3647;
}

.text-ToDo {
    font-size: 20px;
    color: #2A3647;
}

.text-done {
    font-size: 20px;
    color: #2A3647;
}